.header {
    display: flex;
    justify-content:space-evenly;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
}
.header__title {
    display: block;
    font-weight: bold;
}
.header__links {

    flex-direction:row;
    list-style: none;
    padding: 1vh;
}

.link {
    color: black;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    top: 40%;
}

.link--active {
    color: rgb(186, 105, 200);
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    top: 40%;
}

.nav__link {
    flex:1rem;
    height:auto;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: relative;
}

