.misdemeanour__table {
    border-spacing: 0rem;
    margin-left: auto;
    margin-right: auto;
}

.misdemeanour__title {
    font-weight: bold;
    border-right: solid;
    padding: 1rem;
}

.misdemeanour__detail {
    border-right: solid;
    padding: 1rem;
}

.misdemeanour__select {
    margin: 0.2rem;
    text-size-adjust: auto;
}